@font-face {
  font-family: "louis_george_cafebold_italic";
  src: url("../fonts/louis_george_cafe_bold-webfont.woff2") format("woff2"), url("../fonts/louis_george_cafe_bold-webfont.woff ") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "louis_george_cafebold";
  src: url("../fonts/louis_george_cafe_bold-webfont.woff2") format("woff2"), url("../fonts/louis_george_cafe_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "louis_george_cafeitalic";
  src: url("louis_george_cafe_italic-webfont.woff2") format("woff2"), url("louis_george_cafe_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "louis_george_cafe_lightitalic";
  src: url("../fonts/louis_george_cafe_light_italic-webfont.woff2") format("woff2"), url("../fonts/louis_george_cafe_light_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "louis_george_cafe_lightRg";
  src: url("../fonts/../fonts/louis_george_cafe_light-webfont.woff2") format("woff2"), url("../fonts/louis_george_cafe_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "louis_george_caferegular";
  src: url("../fonts/louis_george_cafe-webfont.woff2") format("woff2"), url("../fonts/louis_george_cafe-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "louis_george_cafebold";
  color: #17479d;
  text-transform: uppercase;
  font-size: 55px;
}

h3 {
  font-family: "louis_george_cafebold";
  color: #529eba;
  text-transform: uppercase;
  font-size: 35px;
}

p {
  font-family: "louis_george_cafe_lightRg";
  color: #17479d;
  font-size: 30px;
}

nav {
  background-color: #17479d;
  position: fixed;
  z-index: 1;
}

button:hover {
  background-color: #3B548E !important;
}

nav span {
  font-family: "louis_george_cafe_lightRg";
}
nav img {
  height: 80px;
}
nav ul li a {
  font-family: "louis_george_cafe_lightRg";
  font-size: 30px;
}

.homepage-hero {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.856), rgba(0, 0, 0, 0.5)), url("../images/kitchen-and-dining-area-1080721.jpg");
  min-height: 80vh;
  background-position: center;
  background-size: cover;
}

section img {
  margin-top: 80px;
  max-height: 200px;
}
section p {
  margin-top: 10vh;
}

.btn-large {
  background-color: #529eba;
  z-index: 2;
}

.card a {
  color: #529eba;
}

.contact-field-homepage {
  margin-top: 7%;
}
.contact-field-homepage h3 {
  margin: 0;
}
.contact-field-homepage p {
  margin-top: 0;
}
.contact-field-homepage button {
  background-color: #529eba;
}
.contact-field-homepage button i {
  color: white;
}
.contact-field-homepage i {
  color: #17479d;
}

/* label color */
.input-field label {
  color: #17479d;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #529eba;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #529eba;
  box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #529eba;
  box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #90908f;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.homepage-about {
  background-color: #e7e6e5;
  padding: 15px 0;
}

/*# sourceMappingURL=style.css.map */
